* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}
.header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ffab00;
    align-items: center;
    background: #ffab00;
}
.logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.logo strong {
    margin-left: 5px;
    font-size: 3rem;
}
.menu {
    display: flex;
    list-style: none;
}
.menu li {
    margin: 0 5px;
}
.menu li a {
    font-weight: 700;
    text-decoration: none;
}
.content {
    width: 100%;
    padding: 20px 10px;
    border: 1px solid #ffab00;
    text-align: center;
}
.control-bar {
    padding: 20px 10px;
    border: 1px solid #ffab00;
}
.control-bar h2 {
    margin-bottom: 15px;
    font-size: 1.8rem;
    text-align: center;
}
.tg {
    border-collapse: collapse;
    border-spacing: 0;
}
.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}
.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}
.tg .tg-baqh {
    text-align: center;
    vertical-align: top
}
.tg .tg-0lax {
    text-align: left;
    vertical-align: top
}
.footer {
    display: flex;
    height: 50px;
    padding: 10px;
    border: 1px solid #ffab00;
    justify-content: center;
    align-items: center;
    background: #ffab00;
}